* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.result {
  text-align: center;
  padding: 2rem;
}

.summary {
  padding: 2rem;
}

.summary-score {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}
