* {
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  max-width: 732px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  background: linear-gradient(
    180deg,
    hsl(252, 100%, 67%) 0%,
    hsl(241, 81%, 54%) 100%
  );
  color: hsl(241, 100%, 89%);
  border-radius: 0 0 2rem 2rem;
}

.result-score {
  background: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1) 0%,
    hsla(241, 72%, 46%, 0) 100%
  );
  border-radius: 1000px;
  width: 143px;
  aspect-ratio: 1 /1;
  padding-top: 1.5rem;
}

.result-user-score {
  color: white;
  font-weight: 700;
  font-size: 54px;
}

.result-subtitle {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.result-comparison {
  font-size: 16px;
  width: 80%;
  padding-bottom: 1rem;
}

.summary {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.summary-scores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary-score {
  display: flex;
  padding: 1rem;
  border-radius: 0.5rem;
}

.summary-score-category {
  padding-left: 0.75rem;
}

.summary-score-total {
  margin-left: auto;
  color: hsl(24, 2%, 56%);
  font-weight: 600;
}

.summary-user-score {
  color: black;
  font-weight: 600;
}

.summary-continue {
  background-color: hsl(224, 30%, 27%);
  width: 100%;
  color: white;
  text-align: center;
  padding: 1rem 0 1rem 0;
  border-radius: 1000px;
}

.summary-continue:hover {
  background: linear-gradient(
    180deg,
    hsl(252, 100%, 67%) 0%,
    hsl(241, 81%, 54%) 100%
  );
}

.reaction {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.1);
}

.memory {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.1);
}

.verbal {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.1);
}

.visual {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.1);
}

@media (min-width: 600px) {
  .card {
    flex-direction: row;
    border-radius: 2rem;
  }

  .result {
    padding: 2.5rem;
    flex-basis: 50%;
    border-radius: 2rem;
  }

  .result-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
  }

  .result-subtitle {
    font-size: 2rem;
    margin-top: 1.5rem;
  }

  .result-score {
    width: 200px;
    padding-top: 3rem;
  }

  .result-user-score {
    font-size: 4rem;
  }

  .summary {
    flex-basis: 50%;
    gap: 2.5rem;
    padding: 2.5rem;
  }

  .summary-title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
