/* barlow-semi-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/barlow-semi-condensed-v15-latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./fonts/barlow-semi-condensed-v15-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-semi-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/barlow-semi-condensed-v15-latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("./fonts/barlow-semi-condensed-v15-latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --fs--1: 0.6875rem;
  --fs-base: 0.8125rem;
  --fs-1: 1.25rem;

  --fw-base: 500;
  --fw-bold: 600;

  --ff-primary: "Barlow Semi Condensed", sans-serif;

  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 210 46% 95%;
  --clr-neutral-300: 0 0% 81%;

  --clr-primary-400: 263 55% 52%;

  --clr-secondary-400: 217 19% 35%;
  --clr-secondary-500: 219 29% 14%;
}

/* Global */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);

  padding-inline: 1.5rem;
  padding-block: 5rem;

  display: grid;
  place-content: center;
  min-height: 100vh;

  background-color: hsl(var(--clr-neutral-300));
}

main {
  display: grid;
  row-gap: 1.5rem;
  max-inline-size: 1100px;
}

h2 {
  font-size: var(--fs-1);
  font-weight: var(--fw-bold);
}

/* Utility */

.bg-primary-400 {
  background-color: hsl(var(--clr-primary-400));
}

.bg-secondary-400 {
  background-color: hsl(var(--clr-secondary-400));
}

.bg-secondary-500 {
  background-color: hsl(var(--clr-secondary-500));
}

.bg-white {
  background-color: hsl(var(--clr-neutral-100));
}

.text-white {
  color: hsl(var(--clr-neutral-100));
}

.text-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}

.border-primary-400 {
  border: 2px solid #a775f1;
}

/* Blocks */

.card {
  display: grid;
  gap: 1rem;

  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
}

.card.quote {
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 10%;
}

.card > p {
  opacity: 0.7;
}

.media {
  display: flex;
  gap: 1.5rem;
}

.media > img {
  border-radius: 9999px;
  width: 2.25rem;
  aspect-ratio: 1;
}

.media span {
  opacity: 0.5;
  display: block;
  font-size: var(--fs--1);
}

@media (min-width: 900px) {
  main {
    grid-auto-columns: 1fr;
    column-gap: 2rem;
  }

  .col-span-2 {
    grid-column: span 2;
  }

  .row-span-2 {
    grid-row: 1 / span 2;
    grid-column-start: 4;
  }
}
