:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Fraunces", serif;

  --fw-default: 500;
  --fw-bold: 700;

  --fs-400: 0.875rem;
  --fs-900: 2rem;

  --clr-primary-100: hsl(30, 38%, 92%);
  --clr-primary-200: hsl(158, 36%, 37%);
  --clr-secondary-200: hsl(158, 36%, 20%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(228, 12%, 48%);
  --clr-neutral-300: hsl(212, 21%, 14%);
}

body {
  background: var(--clr-primary-100);
  color: var(--clr-neutral-200);
  font-family: var(--font-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-default);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.card {
  background: var(--clr-neutral-100);
  display: grid;
  max-width: 600px;
  overflow: hidden;
  border-radius: 1rem;
  margin: 1rem;
}

@media (min-width: 600px) {
  .card {
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
  }
}

.item {
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .item {
    padding: 2rem;
  }
}

.item-category {
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.item-name {
  font-family: var(--font-secondary);
  font-size: var(--fs-900);
  color: var(--clr-neutral-300);
  line-height: 1.1;
}

.item-description {
  line-height: 1.7;
}

.item-description span {
  text-transform: uppercase;
}

.item-price {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sale-price {
  font-size: var(--fs-900);
  font-family: var(--font-secondary);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-200);
}

.msrp {
  text-decoration: line-through;
}

.button {
  cursor: pointer;
  background: var(--clr-primary-200);
  color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  padding: 0.75em 1.5em;
  font-weight: var(--fw-bold);
  border: 0;

  /* this is what I wanted */
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.button:hover,
.button:focus-visible {
  background: var(--clr-secondary-200);
}
